ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    background-color: #c3cbbe;
    padding: 20px;
}